{
  "openapi": "3.0.0",
  "info": {
    "title": "fleet-management",
    "version": "1.0",
    "contact": {
      "name": "Peter Zaccha",
      "email": "peterzaccha@outlook.com",
      "url": "https://github.com/peterzaccha"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "http://fleet-management.develop/api",
      "description": "local"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Login",
        "operationId": "post-auth-login",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "user",
                    "token"
                  ]
                }
              }
            }
          }
        },
        "description": "Get api token",
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ],
              "default": "application/json",
              "example": "application/json"
            },
            "in": "header",
            "name": "Accept",
            "description": "application/json",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              },
              "examples": {}
            }
          },
          "description": "Provide Email & Password"
        },
        "tags": [
          "Auth"
        ]
      }
    },
    "/auth/me": {
      "get": {
        "summary": "Me",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "operationId": "get-auth-me",
        "tags": [
          "Auth"
        ],
        "description": "Get current auth user",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ],
              "example": "application/json"
            },
            "in": "header",
            "name": "Accept",
            "description": "application/json",
            "required": true
          }
        ],
        "security": [
          {
            "Token": []
          }
        ]
      }
    },
    "/trips/book": {
      "post": {
        "summary": "Book a Trip",
        "operationId": "post-trips-book",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "trip": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "name": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "id",
                            "name"
                          ]
                        },
                        "from": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "name": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "id",
                            "name"
                          ]
                        },
                        "to": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "name": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "required": [
                            "id",
                            "name"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "trip",
                        "from",
                        "to"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": {
                        "id": 13,
                        "trip": {
                          "id": 2,
                          "name": "From Aswan To Giza"
                        },
                        "from": {
                          "id": 17,
                          "name": "Beni Suef"
                        },
                        "to": {
                          "id": 2,
                          "name": "Giza"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Book a Trip",
        "security": [
          {
            "Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "application/json",
              "enum": [
                "application/json"
              ],
              "default": "application/json"
            },
            "in": "header",
            "name": "Accept",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number_of_seats": {
                    "type": "integer",
                    "maximum": 12,
                    "minimum": 1
                  },
                  "trip_id": {
                    "type": "integer"
                  },
                  "from": {
                    "type": "integer"
                  },
                  "to": {
                    "type": "integer"
                  }
                },
                "required": [
                  "number_of_seats",
                  "trip_id",
                  "from",
                  "to"
                ]
              }
            }
          }
        },
        "tags": [
          "Trip"
        ]
      }
    },
    "/trips/available": {
      "get": {
        "summary": "Available Trips",
        "tags": [
          "Trip"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "cities": {
                            "type": "array",
                            "uniqueItems": true,
                            "minItems": 1,
                            "items": {
                              "required": [
                                "id",
                                "name",
                                "order",
                                "empty_seats"
                              ],
                              "properties": {
                                "id": {
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "order": {
                                  "type": "number"
                                },
                                "empty_seats": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "minLength": 1
                        },
                        "last": {
                          "type": "string",
                          "minLength": 1
                        },
                        "prev": {},
                        "next": {}
                      },
                      "required": [
                        "first",
                        "last"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "links": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "label",
                              "active"
                            ],
                            "properties": {
                              "url": {},
                              "label": {
                                "type": "string",
                                "minLength": 1
                              },
                              "active": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "minLength": 1
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "id": 1,
                          "name": "From Giza To Aswan",
                          "cities": [
                            {
                              "id": 2,
                              "name": "Giza",
                              "order": 1,
                              "empty_seats": 12
                            },
                            {
                              "id": 17,
                              "name": "Beni Suef",
                              "order": 2,
                              "empty_seats": 12
                            },
                            {
                              "id": 11,
                              "name": "Minya",
                              "order": 3,
                              "empty_seats": 12
                            },
                            {
                              "id": 16,
                              "name": "Assiut",
                              "order": 4,
                              "empty_seats": 12
                            },
                            {
                              "id": 27,
                              "name": "Sohag",
                              "order": 5,
                              "empty_seats": 12
                            },
                            {
                              "id": 25,
                              "name": "Qena",
                              "order": 6,
                              "empty_seats": 12
                            },
                            {
                              "id": 24,
                              "name": "Luxor",
                              "order": 7,
                              "empty_seats": 12
                            },
                            {
                              "id": 15,
                              "name": "Aswan",
                              "order": 8,
                              "empty_seats": 12
                            }
                          ]
                        }
                      ],
                      "links": {
                        "first": "http://fleet-management.develop/api/trips/available?page=1",
                        "last": "http://fleet-management.develop/api/trips/available?page=1",
                        "prev": null,
                        "next": null
                      },
                      "meta": {
                        "current_page": 1,
                        "from": 1,
                        "last_page": 1,
                        "links": [
                          {
                            "url": null,
                            "label": "&laquo; Previous",
                            "active": false
                          },
                          {
                            "url": "http://fleet-management.develop/api/trips/available?page=1",
                            "label": "1",
                            "active": true
                          },
                          {
                            "url": null,
                            "label": "Next &raquo;",
                            "active": false
                          }
                        ],
                        "path": "http://fleet-management.develop/api/trips/available",
                        "per_page": 15,
                        "to": 1,
                        "total": 1
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-trips-available",
        "description": "Get Available Trips",
        "security": [
          {
            "Token": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ],
              "example": "application/json"
            },
            "in": "header",
            "name": "Accept",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "from",
            "description": "City id",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "to",
            "description": "City id",
            "required": true
          }
        ]
      }
    },
    "/cities": {
      "get": {
        "summary": "Get Cities",
        "tags": [
          "City"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "name"
                        ],
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "minLength": 1
                        },
                        "last": {
                          "type": "string",
                          "minLength": 1
                        },
                        "prev": {},
                        "next": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "first",
                        "last",
                        "next"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "links": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "label",
                              "active"
                            ],
                            "properties": {
                              "url": {},
                              "label": {
                                "type": "string",
                                "minLength": 1
                              },
                              "active": {
                                "type": "boolean"
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "minLength": 1
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "current_page",
                        "from",
                        "last_page",
                        "links",
                        "path",
                        "per_page",
                        "to",
                        "total"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-cities",
        "description": "Get All Cities",
        "security": []
      }
    },
    "/auth/register": {
      "post": {
        "summary": "Register",
        "operationId": "post-auth-register",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "user",
                    "token"
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ],
        "description": "Register a new user",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 3
                  },
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8
                  }
                },
                "required": [
                  "name",
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "default": "application/json",
              "enum": [
                "application/json"
              ],
              "example": "application/json"
            },
            "in": "header",
            "name": "Accept",
            "required": true
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "description": "",
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "minLength": 1
          },
          "email_verified_at": {},
          "created_at": {
            "type": "string",
            "minLength": 1
          },
          "updated_at": {
            "type": "string",
            "minLength": 1
          },
          "is_admin": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "created_at",
          "updated_at",
          "is_admin"
        ]
      }
    },
    "securitySchemes": {
      "Token": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}